<h1><%= facade.students_count %> Students</h1>

<% facade.students.each do |student| %>
<%  %>
  <section class="members">
    <p class="id"><%= student.id %></p>
    <p class="name"><%= student.name %></p>
  </section>
<% end %>
